<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.dao.WeiXinUserInfoDao">
	
	
	<resultMap type="WeiXinUserInfo" id="WeiXinUserInfoResult">
		<result property="openid" column="openid"/>
		<result property="nickname" column="nickname"/>
		<result property="sex" column="sex"/>
		<result property="language" column="language"/>
		<result property="city" column="city"/>
		<result property="province" column="province"/>
		<result property="country" column="country"/>
		<result property="headimgurl" column="headimgurl"/>
		<result property="createDateTime" column="createDateTime"/>
		<result property="daka_count" column="daka_count"/>
		<result property="treeIds" column="treeIds"/>
		<result property="trueOpenid" column="trueOpenid"/>
		<result property="fendianId" column="fendianId"/>
		<association property="fendian" column="fendianId" select="com.java1234.dao.FenDianDao.findById" />
	</resultMap>
	
	
	<insert id="add" parameterType="WeiXinUserInfo">
		insert into t_wx_user values(#{openid},#{nickname},#{sex},#{language},#{city},#{province},#{country},#{headimgurl},#{createDateTime},#{daka_count},#{treeIds},#{trueOpenid},#{fendianId})
	</insert>
	
	
	<update id="update" parameterType="WeiXinUserInfo">
		update t_wx_user
		<set>
			<if test="nickname!=null and nickname!='' ">
				nickname=#{nickname},
			</if>
			<if test="sex!=null and sex!='' ">
				sex=#{sex},
			</if>
			<if test="language!=null and language!='' ">
				language=#{language},
			</if>
			<if test="city!=null and city!='' ">
				city=#{city},
			</if>
			<if test="province!=null and province!='' ">
				province=#{province},
			</if>
			<if test="country!=null and country!='' ">
				country=#{country},
			</if>
			<if test="headimgurl!=null and headimgurl!='' ">
				headimgurl=#{headimgurl},
			</if>
			<if test="createDateTime!=null   ">
				createDateTime=#{createDateTime},
			</if>
			<if test="daka_count!=null   ">
				daka_count=#{daka_count},
			</if>
			<if test="treeIds!=null   ">
				treeIds=#{treeIds},
			</if>
			<if test="trueOpenid!=null   ">
				trueOpenid=#{trueOpenid},
			</if>
			<if test="fendianId!=null   ">
				fendianId=#{fendianId},
			</if>
		</set>
		where openid=#{openid}
	</update>
	
	
	<select id="findByOpenid" parameterType="String" resultMap="WeiXinUserInfoResult">
		select * from t_wx_user where openid=#{openid}
	</select>
	
	
	<update id="updateDakaCount" parameterType="Map">
		update t_wx_user set daka_count = #{daka_count}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from t_wx_user where openid =#{openid}
	</delete>
	
	
</mapper>